.App{
  background-color:cadetblue;
  margin-left: 15%; 
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 20px;
  
}
body{
  background: linear-gradient(white,cadetblue, #f5f5f5, cadetblue,bisque); 
}
.App button{
  float: right;
  margin-right: 20px;
}